---
import { db, Gallery, Picture, eq } from "astro:db";
import "../../../../styles/projects/guarania.css";

import ProjectLayout from "../../../../layouts/projectLayout.astro";

import { staticPath } from "../../../../utils/staticPath";

export async function getStaticPaths() {
	const galleries = await db.select().from(Gallery);
	return galleries.map((gallery) => ({
		params: { slug: gallery.name },
		props: { gallery },
	}));
}

const { gallery } = Astro.props;
const pictures = await db
	.select()
	.from(Picture)
	.where(eq(Picture.galleryId, gallery.id));
---

<ProjectLayout
	title={gallery.title.replace(/<\/?[^>]+(>|$)/g, "")}
	logoSrc={staticPath("projects/img/guarania/logo-dark.svg")}
	logoHeight="h-20!"
	footerLogoSrc={staticPath("projects/img/guarania/logo-black.svg")}
>
	<div
		class="mxd-section mxd-section-inner-headline grid-headline padding-default"
	>
		<div class="mxd-container grid-l-container">
			<!-- Block - Projects Masonry #01 with Section Title Start -->
			<div class="mxd-block loading-wrap">
				<div class="mxd-projects-masonry loading__item">
					<div class="container-fluid p-0">
						<!-- Portfolio Gallery Start -->
						<div
							class="row g-0 mxd-projects-masonry__gallery"
							data-masonry='{"percentPosition": true }'
						>
							<!-- portfolio gallery title -->
							<div
								class="col-12 col-xl-6 mxd-projects-masonry__title headline-title"
							>
								<div class="mxd-block__inner-headline">
									<h2
										class="inner-headline__title text-7xl!"
										set:html={gallery.title}
									/>

									<div class="mt-10!">
										<a
											class="btn btn-anim btn-default btn-small btn-opposite slide-right-up px-10!"
											href={staticPath("/proyectos/guarania")}
										>
											<i class="ph ph-arrow-left"></i>
											<span class="btn-caption font-semibold">Volver</span>
										</a>
									</div>
								</div>
							</div>
							{
								pictures.length &&
									pictures.map((picture) => (
										<div class="col-12 col-xl-6 mxd-project-item mxd-projects-masonry__item">
											<div class="mxd-project-item__preview masonry-preview h-auto!">
												<img
													src={staticPath(
														`projects/gallery/guarania/${gallery.name}/${picture.path}`
													)}
													alt="Foto de galería"
													class="w-full h-auto object-cover"
												/>
											</div>
										</div>
									))
							}
						</div>
						<!-- Portfolio Gallery End -->
					</div>
				</div>
			</div>
			<!-- Block - Projects Masonry #01 with Section Title Start -->
		</div>
	</div>
</ProjectLayout>
